@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

a {
  color: #4a90e2;
}

input, textarea {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #4a90e2;
}

button {
  /* Eliminar esta regla o hacerla más específica */
  /* color: #ffffff; */
}

